<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="foxbitUserName" value="########"/>
    <add key="foxbitSecret" value="##########"/>
    <add key="foxbitUrl" value="wss://ws.blinktrade.com/trade/"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>